<div
  dir='ltr'
  style='background-color: #f7f7f7; margin: 0; padding: 70px 0; width: 100%; -webkit-text-size-adjust: none;'
>
  <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%'>
    <tbody><tr style='height: 0px;'><td align='center' valign='top'>
          <div>
          </div>
          <table
            border='0'
            cellpadding='0'
            cellspacing='0'
            width='600'
            style='background-color: #ffffff; border: 1px solid #dedede; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); border-radius: 3px;'
          >
            <tbody><tr><td align='center' valign='top'>
                  <!-- Header -->
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                    style="background-color: #ff4865; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: 'Noto Sans KR'; border-radius: 3px 3px 0 0;"
                  ><tbody><tr><td style='display: block; padding: 21px 40px;'>
                          <h1
                            style="font-family: 'Noto Sans KR'; font-weight: 300; line-height: 150%; margin: 0; text-align: left; text-shadow: 0 1px 0 #ff6d84; color: #ffffff; background-color: inherit; font-size: 24px; letter-spacing: -2px;"
                          >이메일 인증 요청</h1>
                        </td></tr></tbody></table>
                  <!-- End Header -->
                </td></tr>
              <tr><td align='center' valign='top'>
                  <!-- Body -->
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='600'
                  ><tbody><tr><td
                          valign='top'
                          style='background-color: #ffffff;'
                        >
                          <!-- Content -->
                          <table
                            border='0'
                            cellpadding='20'
                            cellspacing='0'
                            width='100%'
                          ><tbody><tr><td
                                  valign='top'
                                  style='padding: 48px 48px 32px;'
                                >
                                  <div
                                    style="color: #636363; font-family: 'Noto Sans KR'; font-size: 14px; line-height: 150%; text-align: left;"
                                  >

                                    <p style='margin: 0 0 16px;'>{{name}}님</p>
                                    <p style='margin: 0 0 16px;'>안녕하세요!
                                      Museblossom에서 알려드립니다.</p>
                                    <p style='margin: 0 0 16px;'>뮤즈블라썸 CMS
                                      서비스 회원가입 이메일 인증번호를
                                      알려드립니다.</p>
                                    <p style='margin: 0 0 16px;'>
                                      <p>이메일 인증 번호: {{num}}</p>
                                    </p>

                                    <p style='margin: 0 0 16px;'>읽어 주셔서
                                      감사합니다.</p>
                                  </div>
                                </td></tr></tbody></table>
                          <!-- End Content -->
                        </td></tr></tbody></table>
                  <!-- End Body -->
                </td></tr>
            </tbody></table>
        </td></tr>
      <tr><td align='center' valign='top'>
          <!-- Footer -->
          <table border='0' cellpadding='10' cellspacing='0' width='600'><tbody
            ><tr><td valign='top' style='padding: 0; border-radius: 6px;'>
                  <table
                    border='0'
                    cellpadding='10'
                    cellspacing='0'
                    width='100%'
                  ><tbody><tr><td
                          valign='middle'
                          colspan='2'
                          style="border-radius: 6px; border: 0; color: #8a8a8a; font-family: 'Noto Sans KR'; font-size: 12px; line-height: 150%; text-align: center; padding: 24px 0;"
                        >
                          <p style='margin: 0 0 16px;'>
                            Powered by
                            <a
                              href='https://museblossom.com/'
                              style='color: #ff4865; font-weight: normal; text-decoration: underline;'
                              rel='noreferrer noopener'
                              target='_blank'
                            >Muse Blossom</a></p>
                        </td></tr></tbody></table>
                </td></tr></tbody></table>
          <!-- End Footer -->
        </td></tr>
    </tbody></table>
</div>